/*
#==========================================================================================================================================#
  
  FORM PAGE STYLES

  This includes styles for full page forms.

#==========================================================================================================================================#
*/

@import 'base/variables';

/* === BASE === */

  body {
    background: $grey-50;
  }

/* === PANEL STYLES === */

  .panel {
    margin: 2rem auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    border-radius: 4px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                0 1px 18px 0 rgba(0, 0, 0, 0.12),
                0 3px 5px -1px rgba(0, 0, 0, 0.4);
  }
  .panel.wide {
    max-width: 600px;
  }
    .panel .header {
      display: flex;
      flex-direction: row;
      align-items: center;

      font-size: 1.5rem;
      line-height: 1.3em;
      font-weight: 700;

      padding: 1rem 2rem;

      border-radius: 4px 4px 0 0;
      background: $grey-400;
      color: white;
    }
    .panel .header.big {
      font-size: 1.7rem;
      font-weight: 900;
      padding: 2rem;
    }
      .icon {
        margin-right: 1rem;
      }
        .icon img {
          max-width: 4rem;
          max-height: 4rem;
        }

    .panel .body {
      padding: 2rem;

      background: white;
      border-radius: 0 0 4px 4px;
    }
      h2 {
        margin-bottom: 1rem;
      }
      .panel .body > p {
        line-height: 1.5em;
        margin: 1.5rem 0;
      }
    
    .panel > .footer {
      padding: 2rem;

      background: white;
      border-radius: 0 0 4px 4px;
      border-top: 1px solid $grey-200;
    }
      .panel > .footer .links {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        padding: 0;
        margin: 0;

        text-align: center;
        justify-content: center;
      }
        .panel > .footer .links li { 
          margin: 0 0.5rem; 
          flex: 0 0 auto;
        }
        .panel > .footer .links li:first-child { margin-left: 0; }
        .panel > .footer .links li:last-child { margin-right: 0; }
        .panel > .footer .links li.label {
          flex: 1 1 auto;
          margin-right: 1rem;
          font-weight: bold;
          text-align: left;
        }
        .panel > .footer .links li > a, .panel > .footer .links li > a:visited {
          color: $grey-500;
          text-decoration: none;
          transition: all 0.3s;
        }
        .panel > .footer .links li > a:focus, .panel > .footer .links li > a:hover {
          color: $grey-700;
          text-decoration: underline;
        }

/* === FORM STYLES === */

  form h3 {
    margin: 1.5rem 0;
  }
  form h3:first-of-type {
    margin-top: 0; 
  }
  form div[class$=field] {
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
  }
    form div[class$=field] > label {
      flex: 0 0 auto;
      
      margin: 0.4rem 1rem 0 0;
      line-height: 1.4em;

      color: $grey-600;
      font-weight: 700;
    }
    form div[class$=field] input[type=text],
    form div[class$=field] input[type=email],
    form div[class$=field] input[type=number],
    form div[class$=field] input[type=password] {
      flex: 1 1 auto;
      font-size: 1rem;

      padding: 0.5em 0.7em;

      border: 1px solid $grey-300;
      background: $grey-50;
      border-radius: 2px;
    }
    form div[class$=field] input[type=number] {
      flex: 0 0 6em;
      max-width: 6em;
    }
    form div[class$=field] > .wrapper {
      display: flex;
      flex-direction: column;
    }
      form div[class$=field] > .wrapper > p {
        line-height: 1.4em;
        font-style: italic;
        font-weight: 200;
      }
  form > .footer {
    margin: 1.6rem 0 0 0;
    text-align: right;
  }
    form > .footer > .button {
      margin: 0 0.5rem;
    }
    form > .footer > .button:first-child {
      margin-left: 0;
    }
    form > .footer > .button:last-child {
      margin-right: 0;
    }

/* === DISPLAY ONLY FORM STYLES === */

  .view-form h3 {
    margin: 1.5rem 0;
  }
  .view-form h3:first-of-type {
    margin-top: 0; 
  }
    .view-form div[class$=field] {
      display: flex;
      align-items: flex-start;
      margin: 1rem 0;
    }
      .view-form div[class$=field] > label {
        flex: 0 0 auto;
        
        margin: 0.2rem 1rem 0 0;
        line-height: 1.4em;

        color: $grey-600;
        font-weight: 700;
      }
      .view-form div[class$=field] > .value {
        flex: 1 1 auto;
        font-size: 1rem;

        padding: 0.5em 0.7em;
      }
      .view-form div[class$=field] > .value.blank {
        color: $grey-500;
        font-weight: 200;
      }
  .view-form > .footer {
    margin: 1.6rem 0 0 0;
    text-align: right;
  }
