/*

#==========================================================================================================================================#
  
  HELPER STYLES

  This stores misc helper classes
  
#==========================================================================================================================================#

*/

img.round {
  border-radius: 100em;
}

@media(max-width: 479px) {
  .showAt480 {
    display: none;
  }
}

@media(max-width: 839px) {
  .showAt840 {
    display: none;
  }
}