/*

#==========================================================================================================================================#
  
  ROOT CONTROLLER STYLES
  
#==========================================================================================================================================#

*/

@import 'base/variables';

/* === BASE STYLES === */

  body {
    background: $grey-50;
  }
    #content {
      max-width: 800px;
      margin: 0 auto;
    }
      h1 {
        margin: 1rem;
      }